## **Majority Element**

Given an array nums of size n, return the majority element.

The majority element is the element that appears more than ⌊n / 2⌋ times. You may assume that the majority element always exists in the array.

(Optional) Analyze the complexity of your algorithm and compare it with your classmates'

Example 1:

*   Input: nums = [3,2,3]
*   Output: 3

Example 2:

*   Input: nums = [2,2,1,1,1,2,2]
*   Output: 2

## **Word Pattern**

Given a pattern and a string s, find if s follows the same pattern.

Here follow means a full match, such that there is a bijection between a letter in pattern and a non-empty word in s.

(Optional) Analyze the complexity of your algorithm and compare it with your classmates'
---

**Example 1:**

*   Input: pattern = "abba", s = "dog cat cat dog"
*   Output: true

Example 2:

*   pattern = "abba", s = "dog cat cat fish"
*   false

Example 3:

*   pattern = "aaaa", s = "dog cat cat dog"
*   false

True

## **Roman to Integer**

Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol - Value: (I - 1), (V - 5), (X - 10), (L - 50), (C - 100), (D - 500), (M - 1000)

For example, `2` is written as `II` in Roman numeral, just two ones added together. `12` is written as `XII`, which is simply `X + II`. The number `27` is written as `XXVII`, which is `XX + V + II`.

Roman numerals are usually written largest to smallest from left to right.

However, the numeral for `four` is not `IIII`. Instead, the number `four` is written as `IV`. Because the one is before the five we subtract it making `four`. The same principle applies to the number nine, which is written as `IX`. There are six instances where subtraction is used:

`I` can be placed before `V (5)` and `X (10)` to make `4` and `9`.

`X` can be placed before `L (50)` and `C (100)` to make `40` and `90`.

`C` can be placed before `D (500)` and `M (1000)` to make `400` and `900`.

Given a roman numeral, convert it to an integer.

(Optional) Analyze the complexity of your algorithm and compare it with your classmates'

---

**Example 1:**

*   Input: s = "III"
*   Output: 3
*   Explanation: III = 3.

**Example 2:**

*   Input: s = "LVIII"
*   Output: 58
*   Explanation: L = 50, V= 5, III = 3.

**Example 3:**

*   Input: s = "MCMXCIV"
*   Output: 1994
*   Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.